
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} hens-post">
  <a href="{{url}}"><img src="{{image}}" title="{{{title}}}" alt="{{{title}}}" /></a>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
